/**
 * Catalog API
 *
 * Methods for collecting product/sku catalog data, categories, brands and other information. <br><br> All content that comes between {{}} keys must be replaced with the correct data before performing the request. <br><br> Common parameters that must be changed in most VTEX requests <br> {{accountName}} => Store account name <br> {{environment}} => The environment that will be called. Change for vtexcommercestable or vtexcommmercebeta <br> {{X-VTEX-API-AppKey}} => Located in the headers of the requests, user authentication key <br> {{X-VTEX-API-AppToken}} => Located in the headers of the requests, authentication password
 *
 * The version of the OpenAPI document: 1.0
 * 
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package org.openapitools.client.apis

import java.io.IOException

import org.openapitools.client.models.RequestBody4

import com.squareup.moshi.Json

import org.openapitools.client.infrastructure.ApiClient
import org.openapitools.client.infrastructure.ApiResponse
import org.openapitools.client.infrastructure.ClientException
import org.openapitools.client.infrastructure.ClientError
import org.openapitools.client.infrastructure.ServerException
import org.openapitools.client.infrastructure.ServerError
import org.openapitools.client.infrastructure.MultiValueMap
import org.openapitools.client.infrastructure.RequestConfig
import org.openapitools.client.infrastructure.RequestMethod
import org.openapitools.client.infrastructure.ResponseType
import org.openapitools.client.infrastructure.Success
import org.openapitools.client.infrastructure.toMultiValue

class SKUKitApi(basePath: kotlin.String = defaultBasePath) : ApiClient(basePath) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://{accountName}.{environment}.com.br")
        }
    }

    /**
    * Delete SKU Kit by SKU ID or Parent SKU ID
    * Deletes all Kit’s components based on the Parent SKU ID or deletes a specific Kit’s component based on the SKU ID
    * @param contentType Type of the content being sent 
    * @param accept HTTP Client Negotiation _Accept_ Header. Indicates the types of responses the client can understand  
    * @param skuId SKU’s unique numerical identifier (optional, default to 1)
    * @param parentSkuId Parent SKU’s unique numerical identifier (optional, default to 1)
    * @return void
    * @throws IllegalStateException If the request is not correctly configured
    * @throws IOException Rethrows the OkHttp execute method exception
    * @throws UnsupportedOperationException If the API returns an informational or redirection response
    * @throws ClientException If the API returns a client error response
    * @throws ServerException If the API returns a server error response
    */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun apiCatalogPvtStockkeepingunitkitDelete(contentType: kotlin.String, accept: kotlin.String, skuId: kotlin.Int?, parentSkuId: kotlin.Int?) : Unit {
        val localVarResponse = apiCatalogPvtStockkeepingunitkitDeleteWithHttpInfo(contentType = contentType, accept = accept, skuId = skuId, parentSkuId = parentSkuId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
    * Delete SKU Kit by SKU ID or Parent SKU ID
    * Deletes all Kit’s components based on the Parent SKU ID or deletes a specific Kit’s component based on the SKU ID
    * @param contentType Type of the content being sent 
    * @param accept HTTP Client Negotiation _Accept_ Header. Indicates the types of responses the client can understand  
    * @param skuId SKU’s unique numerical identifier (optional, default to 1)
    * @param parentSkuId Parent SKU’s unique numerical identifier (optional, default to 1)
    * @return ApiResponse<Unit?>
    * @throws IllegalStateException If the request is not correctly configured
    * @throws IOException Rethrows the OkHttp execute method exception
    */
    @Throws(IllegalStateException::class, IOException::class)
    fun apiCatalogPvtStockkeepingunitkitDeleteWithHttpInfo(contentType: kotlin.String, accept: kotlin.String, skuId: kotlin.Int?, parentSkuId: kotlin.Int?) : ApiResponse<Unit?> {
        val localVariableConfig = apiCatalogPvtStockkeepingunitkitDeleteRequestConfig(contentType = contentType, accept = accept, skuId = skuId, parentSkuId = parentSkuId)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
    * To obtain the request config of the operation apiCatalogPvtStockkeepingunitkitDelete
    *
    * @param contentType Type of the content being sent 
    * @param accept HTTP Client Negotiation _Accept_ Header. Indicates the types of responses the client can understand  
    * @param skuId SKU’s unique numerical identifier (optional, default to 1)
    * @param parentSkuId Parent SKU’s unique numerical identifier (optional, default to 1)
    * @return RequestConfig
    */
    fun apiCatalogPvtStockkeepingunitkitDeleteRequestConfig(contentType: kotlin.String, accept: kotlin.String, skuId: kotlin.Int?, parentSkuId: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (skuId != null) {
                    put("skuId", listOf(skuId.toString()))
                }
                if (parentSkuId != null) {
                    put("parentSkuId", listOf(parentSkuId.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        contentType.apply { localVariableHeaders["Content-Type"] = this.toString() }
        accept.apply { localVariableHeaders["Accept"] = this.toString() }
        
        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/api/catalog/pvt/stockkeepingunitkit",
            query = localVariableQuery,
            headers = localVariableHeaders,
            body = localVariableBody
        )
    }

    /**
    * Get SKU Kit by SKU ID or Parent SKU ID
    * Retrieves general information about the components of an SKU Kit by SKU ID or Parent SKU ID
    * @param contentType Type of the content being sent 
    * @param accept HTTP Client Negotiation _Accept_ Header. Indicates the types of responses the client can understand  
    * @param skuId SKU’s unique numerical identifier (optional, default to 1)
    * @param parentSkuId Parent SKU’s unique numerical identifier (optional, default to 1)
    * @return void
    * @throws IllegalStateException If the request is not correctly configured
    * @throws IOException Rethrows the OkHttp execute method exception
    * @throws UnsupportedOperationException If the API returns an informational or redirection response
    * @throws ClientException If the API returns a client error response
    * @throws ServerException If the API returns a server error response
    */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun apiCatalogPvtStockkeepingunitkitGet(contentType: kotlin.String, accept: kotlin.String, skuId: kotlin.Int?, parentSkuId: kotlin.Int?) : Unit {
        val localVarResponse = apiCatalogPvtStockkeepingunitkitGetWithHttpInfo(contentType = contentType, accept = accept, skuId = skuId, parentSkuId = parentSkuId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
    * Get SKU Kit by SKU ID or Parent SKU ID
    * Retrieves general information about the components of an SKU Kit by SKU ID or Parent SKU ID
    * @param contentType Type of the content being sent 
    * @param accept HTTP Client Negotiation _Accept_ Header. Indicates the types of responses the client can understand  
    * @param skuId SKU’s unique numerical identifier (optional, default to 1)
    * @param parentSkuId Parent SKU’s unique numerical identifier (optional, default to 1)
    * @return ApiResponse<Unit?>
    * @throws IllegalStateException If the request is not correctly configured
    * @throws IOException Rethrows the OkHttp execute method exception
    */
    @Throws(IllegalStateException::class, IOException::class)
    fun apiCatalogPvtStockkeepingunitkitGetWithHttpInfo(contentType: kotlin.String, accept: kotlin.String, skuId: kotlin.Int?, parentSkuId: kotlin.Int?) : ApiResponse<Unit?> {
        val localVariableConfig = apiCatalogPvtStockkeepingunitkitGetRequestConfig(contentType = contentType, accept = accept, skuId = skuId, parentSkuId = parentSkuId)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
    * To obtain the request config of the operation apiCatalogPvtStockkeepingunitkitGet
    *
    * @param contentType Type of the content being sent 
    * @param accept HTTP Client Negotiation _Accept_ Header. Indicates the types of responses the client can understand  
    * @param skuId SKU’s unique numerical identifier (optional, default to 1)
    * @param parentSkuId Parent SKU’s unique numerical identifier (optional, default to 1)
    * @return RequestConfig
    */
    fun apiCatalogPvtStockkeepingunitkitGetRequestConfig(contentType: kotlin.String, accept: kotlin.String, skuId: kotlin.Int?, parentSkuId: kotlin.Int?) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                if (skuId != null) {
                    put("skuId", listOf(skuId.toString()))
                }
                if (parentSkuId != null) {
                    put("parentSkuId", listOf(parentSkuId.toString()))
                }
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        contentType.apply { localVariableHeaders["Content-Type"] = this.toString() }
        accept.apply { localVariableHeaders["Accept"] = this.toString() }
        
        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/catalog/pvt/stockkeepingunitkit",
            query = localVariableQuery,
            headers = localVariableHeaders,
            body = localVariableBody
        )
    }

    /**
    * Delete SKU Kit by KitId
    * Deletes a specific Kit’s component based on its Kit ID
    * @param contentType Type of the content being sent 
    * @param accept HTTP Client Negotiation _Accept_ Header. Indicates the types of responses the client can understand  
    * @param kitId Kit’s unique numerical identifier 
    * @return void
    * @throws IllegalStateException If the request is not correctly configured
    * @throws IOException Rethrows the OkHttp execute method exception
    * @throws UnsupportedOperationException If the API returns an informational or redirection response
    * @throws ClientException If the API returns a client error response
    * @throws ServerException If the API returns a server error response
    */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun apiCatalogPvtStockkeepingunitkitKitIdDelete(contentType: kotlin.String, accept: kotlin.String, kitId: kotlin.Int) : Unit {
        val localVarResponse = apiCatalogPvtStockkeepingunitkitKitIdDeleteWithHttpInfo(contentType = contentType, accept = accept, kitId = kitId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
    * Delete SKU Kit by KitId
    * Deletes a specific Kit’s component based on its Kit ID
    * @param contentType Type of the content being sent 
    * @param accept HTTP Client Negotiation _Accept_ Header. Indicates the types of responses the client can understand  
    * @param kitId Kit’s unique numerical identifier 
    * @return ApiResponse<Unit?>
    * @throws IllegalStateException If the request is not correctly configured
    * @throws IOException Rethrows the OkHttp execute method exception
    */
    @Throws(IllegalStateException::class, IOException::class)
    fun apiCatalogPvtStockkeepingunitkitKitIdDeleteWithHttpInfo(contentType: kotlin.String, accept: kotlin.String, kitId: kotlin.Int) : ApiResponse<Unit?> {
        val localVariableConfig = apiCatalogPvtStockkeepingunitkitKitIdDeleteRequestConfig(contentType = contentType, accept = accept, kitId = kitId)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
    * To obtain the request config of the operation apiCatalogPvtStockkeepingunitkitKitIdDelete
    *
    * @param contentType Type of the content being sent 
    * @param accept HTTP Client Negotiation _Accept_ Header. Indicates the types of responses the client can understand  
    * @param kitId Kit’s unique numerical identifier 
    * @return RequestConfig
    */
    fun apiCatalogPvtStockkeepingunitkitKitIdDeleteRequestConfig(contentType: kotlin.String, accept: kotlin.String, kitId: kotlin.Int) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        contentType.apply { localVariableHeaders["Content-Type"] = this.toString() }
        accept.apply { localVariableHeaders["Accept"] = this.toString() }
        
        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/api/catalog/pvt/stockkeepingunitkit/{kitId}".replace("{"+"kitId"+"}", "$kitId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            body = localVariableBody
        )
    }

    /**
    * Get SKU Kit
    * Retrieves general information about a component of a Kit
    * @param contentType Type of the content being sent 
    * @param accept HTTP Client Negotiation _Accept_ Header. Indicates the types of responses the client can understand  
    * @param kitId Kit’s unique numerical identifier 
    * @return void
    * @throws IllegalStateException If the request is not correctly configured
    * @throws IOException Rethrows the OkHttp execute method exception
    * @throws UnsupportedOperationException If the API returns an informational or redirection response
    * @throws ClientException If the API returns a client error response
    * @throws ServerException If the API returns a server error response
    */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun apiCatalogPvtStockkeepingunitkitKitIdGet(contentType: kotlin.String, accept: kotlin.String, kitId: kotlin.Int) : Unit {
        val localVarResponse = apiCatalogPvtStockkeepingunitkitKitIdGetWithHttpInfo(contentType = contentType, accept = accept, kitId = kitId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
    * Get SKU Kit
    * Retrieves general information about a component of a Kit
    * @param contentType Type of the content being sent 
    * @param accept HTTP Client Negotiation _Accept_ Header. Indicates the types of responses the client can understand  
    * @param kitId Kit’s unique numerical identifier 
    * @return ApiResponse<Unit?>
    * @throws IllegalStateException If the request is not correctly configured
    * @throws IOException Rethrows the OkHttp execute method exception
    */
    @Throws(IllegalStateException::class, IOException::class)
    fun apiCatalogPvtStockkeepingunitkitKitIdGetWithHttpInfo(contentType: kotlin.String, accept: kotlin.String, kitId: kotlin.Int) : ApiResponse<Unit?> {
        val localVariableConfig = apiCatalogPvtStockkeepingunitkitKitIdGetRequestConfig(contentType = contentType, accept = accept, kitId = kitId)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
    * To obtain the request config of the operation apiCatalogPvtStockkeepingunitkitKitIdGet
    *
    * @param contentType Type of the content being sent 
    * @param accept HTTP Client Negotiation _Accept_ Header. Indicates the types of responses the client can understand  
    * @param kitId Kit’s unique numerical identifier 
    * @return RequestConfig
    */
    fun apiCatalogPvtStockkeepingunitkitKitIdGetRequestConfig(contentType: kotlin.String, accept: kotlin.String, kitId: kotlin.Int) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        contentType.apply { localVariableHeaders["Content-Type"] = this.toString() }
        accept.apply { localVariableHeaders["Accept"] = this.toString() }
        
        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/catalog/pvt/stockkeepingunitkit/{kitId}".replace("{"+"kitId"+"}", "$kitId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            body = localVariableBody
        )
    }

    /**
    * Create SKU Kit
    * Creates new component to a specific Kit
    * @param contentType Type of the content being sent 
    * @param accept HTTP Client Negotiation _Accept_ Header. Indicates the types of responses the client can understand  
    * @param requestBody4  (optional)
    * @return void
    * @throws IllegalStateException If the request is not correctly configured
    * @throws IOException Rethrows the OkHttp execute method exception
    * @throws UnsupportedOperationException If the API returns an informational or redirection response
    * @throws ClientException If the API returns a client error response
    * @throws ServerException If the API returns a server error response
    */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun apiCatalogPvtStockkeepingunitkitPost(contentType: kotlin.String, accept: kotlin.String, requestBody4: RequestBody4?) : Unit {
        val localVarResponse = apiCatalogPvtStockkeepingunitkitPostWithHttpInfo(contentType = contentType, accept = accept, requestBody4 = requestBody4)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
    * Create SKU Kit
    * Creates new component to a specific Kit
    * @param contentType Type of the content being sent 
    * @param accept HTTP Client Negotiation _Accept_ Header. Indicates the types of responses the client can understand  
    * @param requestBody4  (optional)
    * @return ApiResponse<Unit?>
    * @throws IllegalStateException If the request is not correctly configured
    * @throws IOException Rethrows the OkHttp execute method exception
    */
    @Throws(IllegalStateException::class, IOException::class)
    fun apiCatalogPvtStockkeepingunitkitPostWithHttpInfo(contentType: kotlin.String, accept: kotlin.String, requestBody4: RequestBody4?) : ApiResponse<Unit?> {
        val localVariableConfig = apiCatalogPvtStockkeepingunitkitPostRequestConfig(contentType = contentType, accept = accept, requestBody4 = requestBody4)

        return request<RequestBody4, Unit>(
            localVariableConfig
        )
    }

    /**
    * To obtain the request config of the operation apiCatalogPvtStockkeepingunitkitPost
    *
    * @param contentType Type of the content being sent 
    * @param accept HTTP Client Negotiation _Accept_ Header. Indicates the types of responses the client can understand  
    * @param requestBody4  (optional)
    * @return RequestConfig
    */
    fun apiCatalogPvtStockkeepingunitkitPostRequestConfig(contentType: kotlin.String, accept: kotlin.String, requestBody4: RequestBody4?) : RequestConfig<RequestBody4> {
        val localVariableBody = requestBody4
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        contentType.apply { localVariableHeaders["Content-Type"] = this.toString() }
        accept.apply { localVariableHeaders["Accept"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        
        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/catalog/pvt/stockkeepingunitkit",
            query = localVariableQuery,
            headers = localVariableHeaders,
            body = localVariableBody
        )
    }

}
