/**
 * Catalog API
 *
 * Methods for collecting product/sku catalog data, categories, brands and other information. <br><br> All content that comes between {{}} keys must be replaced with the correct data before performing the request. <br><br> Common parameters that must be changed in most VTEX requests <br> {{accountName}} => Store account name <br> {{environment}} => The environment that will be called. Change for vtexcommercestable or vtexcommmercebeta <br> {{X-VTEX-API-AppKey}} => Located in the headers of the requests, user authentication key <br> {{X-VTEX-API-AppToken}} => Located in the headers of the requests, authentication password
 *
 * The version of the OpenAPI document: 1.0
 * 
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package org.openapitools.client.apis

import java.io.IOException

import org.openapitools.client.models.InlineObject6
import org.openapitools.client.models.InlineResponse20013
import org.openapitools.client.models.RequestBody

import com.squareup.moshi.Json

import org.openapitools.client.infrastructure.ApiClient
import org.openapitools.client.infrastructure.ApiResponse
import org.openapitools.client.infrastructure.ClientException
import org.openapitools.client.infrastructure.ClientError
import org.openapitools.client.infrastructure.ServerException
import org.openapitools.client.infrastructure.ServerError
import org.openapitools.client.infrastructure.MultiValueMap
import org.openapitools.client.infrastructure.RequestConfig
import org.openapitools.client.infrastructure.RequestMethod
import org.openapitools.client.infrastructure.ResponseType
import org.openapitools.client.infrastructure.Success
import org.openapitools.client.infrastructure.toMultiValue

class SKUSpecificationApi(basePath: kotlin.String = defaultBasePath) : ApiClient(basePath) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://{accountName}.{environment}.com.br")
        }
    }

    /**
    * Delete all SKU Specifications
    * Deletes all Product Specifications
    * @param contentType Type of the content being sent 
    * @param accept HTTP Client Negotiation _Accept_ Header. Indicates the types of responses the client can understand  
    * @param skuId SKU’s unique numerical identifier 
    * @return void
    * @throws IllegalStateException If the request is not correctly configured
    * @throws IOException Rethrows the OkHttp execute method exception
    * @throws UnsupportedOperationException If the API returns an informational or redirection response
    * @throws ClientException If the API returns a client error response
    * @throws ServerException If the API returns a server error response
    */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun apiCatalogPvtStockkeepingunitSkuIdSpecificationDelete(contentType: kotlin.String, accept: kotlin.String, skuId: kotlin.Int) : Unit {
        val localVarResponse = apiCatalogPvtStockkeepingunitSkuIdSpecificationDeleteWithHttpInfo(contentType = contentType, accept = accept, skuId = skuId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
    * Delete all SKU Specifications
    * Deletes all Product Specifications
    * @param contentType Type of the content being sent 
    * @param accept HTTP Client Negotiation _Accept_ Header. Indicates the types of responses the client can understand  
    * @param skuId SKU’s unique numerical identifier 
    * @return ApiResponse<Unit?>
    * @throws IllegalStateException If the request is not correctly configured
    * @throws IOException Rethrows the OkHttp execute method exception
    */
    @Throws(IllegalStateException::class, IOException::class)
    fun apiCatalogPvtStockkeepingunitSkuIdSpecificationDeleteWithHttpInfo(contentType: kotlin.String, accept: kotlin.String, skuId: kotlin.Int) : ApiResponse<Unit?> {
        val localVariableConfig = apiCatalogPvtStockkeepingunitSkuIdSpecificationDeleteRequestConfig(contentType = contentType, accept = accept, skuId = skuId)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
    * To obtain the request config of the operation apiCatalogPvtStockkeepingunitSkuIdSpecificationDelete
    *
    * @param contentType Type of the content being sent 
    * @param accept HTTP Client Negotiation _Accept_ Header. Indicates the types of responses the client can understand  
    * @param skuId SKU’s unique numerical identifier 
    * @return RequestConfig
    */
    fun apiCatalogPvtStockkeepingunitSkuIdSpecificationDeleteRequestConfig(contentType: kotlin.String, accept: kotlin.String, skuId: kotlin.Int) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        contentType.apply { localVariableHeaders["Content-Type"] = this.toString() }
        accept.apply { localVariableHeaders["Accept"] = this.toString() }
        
        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/api/catalog/pvt/stockkeepingunit/{skuId}/specification".replace("{"+"skuId"+"}", "$skuId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            body = localVariableBody
        )
    }

    /**
    * Get SKU Specifications
    * Retrieves general information about an SKU Specification
    * @param contentType Type of the content being sent 
    * @param accept HTTP Client Negotiation _Accept_ Header. Indicates the types of responses the client can understand  
    * @param skuId SKU’s unique numerical identifier 
    * @return void
    * @throws IllegalStateException If the request is not correctly configured
    * @throws IOException Rethrows the OkHttp execute method exception
    * @throws UnsupportedOperationException If the API returns an informational or redirection response
    * @throws ClientException If the API returns a client error response
    * @throws ServerException If the API returns a server error response
    */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun apiCatalogPvtStockkeepingunitSkuIdSpecificationGet(contentType: kotlin.String, accept: kotlin.String, skuId: kotlin.Int) : Unit {
        val localVarResponse = apiCatalogPvtStockkeepingunitSkuIdSpecificationGetWithHttpInfo(contentType = contentType, accept = accept, skuId = skuId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
    * Get SKU Specifications
    * Retrieves general information about an SKU Specification
    * @param contentType Type of the content being sent 
    * @param accept HTTP Client Negotiation _Accept_ Header. Indicates the types of responses the client can understand  
    * @param skuId SKU’s unique numerical identifier 
    * @return ApiResponse<Unit?>
    * @throws IllegalStateException If the request is not correctly configured
    * @throws IOException Rethrows the OkHttp execute method exception
    */
    @Throws(IllegalStateException::class, IOException::class)
    fun apiCatalogPvtStockkeepingunitSkuIdSpecificationGetWithHttpInfo(contentType: kotlin.String, accept: kotlin.String, skuId: kotlin.Int) : ApiResponse<Unit?> {
        val localVariableConfig = apiCatalogPvtStockkeepingunitSkuIdSpecificationGetRequestConfig(contentType = contentType, accept = accept, skuId = skuId)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
    * To obtain the request config of the operation apiCatalogPvtStockkeepingunitSkuIdSpecificationGet
    *
    * @param contentType Type of the content being sent 
    * @param accept HTTP Client Negotiation _Accept_ Header. Indicates the types of responses the client can understand  
    * @param skuId SKU’s unique numerical identifier 
    * @return RequestConfig
    */
    fun apiCatalogPvtStockkeepingunitSkuIdSpecificationGetRequestConfig(contentType: kotlin.String, accept: kotlin.String, skuId: kotlin.Int) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        contentType.apply { localVariableHeaders["Content-Type"] = this.toString() }
        accept.apply { localVariableHeaders["Accept"] = this.toString() }
        
        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/catalog/pvt/stockkeepingunit/{skuId}/specification".replace("{"+"skuId"+"}", "$skuId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            body = localVariableBody
        )
    }

    /**
    * Associate SKU Specification
    * Associates a previously defined Specification to an SKU
    * @param contentType Type of the content being sent 
    * @param accept HTTP Client Negotiation _Accept_ Header. Indicates the types of responses the client can understand  
    * @param skuId SKU’s unique numerical identifier 
    * @param inlineObject6  (optional)
    * @return InlineResponse20013
    * @throws IllegalStateException If the request is not correctly configured
    * @throws IOException Rethrows the OkHttp execute method exception
    * @throws UnsupportedOperationException If the API returns an informational or redirection response
    * @throws ClientException If the API returns a client error response
    * @throws ServerException If the API returns a server error response
    */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun apiCatalogPvtStockkeepingunitSkuIdSpecificationPost(contentType: kotlin.String, accept: kotlin.String, skuId: kotlin.Int, inlineObject6: InlineObject6?) : InlineResponse20013 {
        val localVarResponse = apiCatalogPvtStockkeepingunitSkuIdSpecificationPostWithHttpInfo(contentType = contentType, accept = accept, skuId = skuId, inlineObject6 = inlineObject6)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> (localVarResponse as Success<*>).data as InlineResponse20013
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
    * Associate SKU Specification
    * Associates a previously defined Specification to an SKU
    * @param contentType Type of the content being sent 
    * @param accept HTTP Client Negotiation _Accept_ Header. Indicates the types of responses the client can understand  
    * @param skuId SKU’s unique numerical identifier 
    * @param inlineObject6  (optional)
    * @return ApiResponse<InlineResponse20013?>
    * @throws IllegalStateException If the request is not correctly configured
    * @throws IOException Rethrows the OkHttp execute method exception
    */
    @Suppress("UNCHECKED_CAST")
    @Throws(IllegalStateException::class, IOException::class)
    fun apiCatalogPvtStockkeepingunitSkuIdSpecificationPostWithHttpInfo(contentType: kotlin.String, accept: kotlin.String, skuId: kotlin.Int, inlineObject6: InlineObject6?) : ApiResponse<InlineResponse20013?> {
        val localVariableConfig = apiCatalogPvtStockkeepingunitSkuIdSpecificationPostRequestConfig(contentType = contentType, accept = accept, skuId = skuId, inlineObject6 = inlineObject6)

        return request<InlineObject6, InlineResponse20013>(
            localVariableConfig
        )
    }

    /**
    * To obtain the request config of the operation apiCatalogPvtStockkeepingunitSkuIdSpecificationPost
    *
    * @param contentType Type of the content being sent 
    * @param accept HTTP Client Negotiation _Accept_ Header. Indicates the types of responses the client can understand  
    * @param skuId SKU’s unique numerical identifier 
    * @param inlineObject6  (optional)
    * @return RequestConfig
    */
    fun apiCatalogPvtStockkeepingunitSkuIdSpecificationPostRequestConfig(contentType: kotlin.String, accept: kotlin.String, skuId: kotlin.Int, inlineObject6: InlineObject6?) : RequestConfig<InlineObject6> {
        val localVariableBody = inlineObject6
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        contentType.apply { localVariableHeaders["Content-Type"] = this.toString() }
        accept.apply { localVariableHeaders["Accept"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        localVariableHeaders["Accept"] = "application/json"

        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/catalog/pvt/stockkeepingunit/{skuId}/specification".replace("{"+"skuId"+"}", "$skuId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            body = localVariableBody
        )
    }

    /**
    * Update SKU Specification
    * Updates an existing Specification on an existing SKU. This endpoint only updates the &#x60;FieldValueId&#x60;
    * @param contentType Type of the content being sent 
    * @param accept HTTP Client Negotiation _Accept_ Header. Indicates the types of responses the client can understand  
    * @param skuId SKU’s unique numerical identifier 
    * @param requestBody  (optional)
    * @return void
    * @throws IllegalStateException If the request is not correctly configured
    * @throws IOException Rethrows the OkHttp execute method exception
    * @throws UnsupportedOperationException If the API returns an informational or redirection response
    * @throws ClientException If the API returns a client error response
    * @throws ServerException If the API returns a server error response
    */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun apiCatalogPvtStockkeepingunitSkuIdSpecificationPut(contentType: kotlin.String, accept: kotlin.String, skuId: kotlin.Int, requestBody: RequestBody?) : Unit {
        val localVarResponse = apiCatalogPvtStockkeepingunitSkuIdSpecificationPutWithHttpInfo(contentType = contentType, accept = accept, skuId = skuId, requestBody = requestBody)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
    * Update SKU Specification
    * Updates an existing Specification on an existing SKU. This endpoint only updates the &#x60;FieldValueId&#x60;
    * @param contentType Type of the content being sent 
    * @param accept HTTP Client Negotiation _Accept_ Header. Indicates the types of responses the client can understand  
    * @param skuId SKU’s unique numerical identifier 
    * @param requestBody  (optional)
    * @return ApiResponse<Unit?>
    * @throws IllegalStateException If the request is not correctly configured
    * @throws IOException Rethrows the OkHttp execute method exception
    */
    @Throws(IllegalStateException::class, IOException::class)
    fun apiCatalogPvtStockkeepingunitSkuIdSpecificationPutWithHttpInfo(contentType: kotlin.String, accept: kotlin.String, skuId: kotlin.Int, requestBody: RequestBody?) : ApiResponse<Unit?> {
        val localVariableConfig = apiCatalogPvtStockkeepingunitSkuIdSpecificationPutRequestConfig(contentType = contentType, accept = accept, skuId = skuId, requestBody = requestBody)

        return request<RequestBody, Unit>(
            localVariableConfig
        )
    }

    /**
    * To obtain the request config of the operation apiCatalogPvtStockkeepingunitSkuIdSpecificationPut
    *
    * @param contentType Type of the content being sent 
    * @param accept HTTP Client Negotiation _Accept_ Header. Indicates the types of responses the client can understand  
    * @param skuId SKU’s unique numerical identifier 
    * @param requestBody  (optional)
    * @return RequestConfig
    */
    fun apiCatalogPvtStockkeepingunitSkuIdSpecificationPutRequestConfig(contentType: kotlin.String, accept: kotlin.String, skuId: kotlin.Int, requestBody: RequestBody?) : RequestConfig<RequestBody> {
        val localVariableBody = requestBody
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        contentType.apply { localVariableHeaders["Content-Type"] = this.toString() }
        accept.apply { localVariableHeaders["Accept"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        
        return RequestConfig(
            method = RequestMethod.PUT,
            path = "/api/catalog/pvt/stockkeepingunit/{skuId}/specification".replace("{"+"skuId"+"}", "$skuId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            body = localVariableBody
        )
    }

    /**
    * Delete SKU Specification
    * Deletes a specific SKU Specification
    * @param contentType Type of the content being sent 
    * @param accept HTTP Client Negotiation _Accept_ Header. Indicates the types of responses the client can understand  
    * @param skuId SKU’s unique numerical identifier 
    * @param specificationId Specification’s unique numerical identifier 
    * @return void
    * @throws IllegalStateException If the request is not correctly configured
    * @throws IOException Rethrows the OkHttp execute method exception
    * @throws UnsupportedOperationException If the API returns an informational or redirection response
    * @throws ClientException If the API returns a client error response
    * @throws ServerException If the API returns a server error response
    */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun apiCatalogPvtStockkeepingunitSkuIdSpecificationSpecificationIdDelete(contentType: kotlin.String, accept: kotlin.String, skuId: kotlin.Int, specificationId: kotlin.Int) : Unit {
        val localVarResponse = apiCatalogPvtStockkeepingunitSkuIdSpecificationSpecificationIdDeleteWithHttpInfo(contentType = contentType, accept = accept, skuId = skuId, specificationId = specificationId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
    * Delete SKU Specification
    * Deletes a specific SKU Specification
    * @param contentType Type of the content being sent 
    * @param accept HTTP Client Negotiation _Accept_ Header. Indicates the types of responses the client can understand  
    * @param skuId SKU’s unique numerical identifier 
    * @param specificationId Specification’s unique numerical identifier 
    * @return ApiResponse<Unit?>
    * @throws IllegalStateException If the request is not correctly configured
    * @throws IOException Rethrows the OkHttp execute method exception
    */
    @Throws(IllegalStateException::class, IOException::class)
    fun apiCatalogPvtStockkeepingunitSkuIdSpecificationSpecificationIdDeleteWithHttpInfo(contentType: kotlin.String, accept: kotlin.String, skuId: kotlin.Int, specificationId: kotlin.Int) : ApiResponse<Unit?> {
        val localVariableConfig = apiCatalogPvtStockkeepingunitSkuIdSpecificationSpecificationIdDeleteRequestConfig(contentType = contentType, accept = accept, skuId = skuId, specificationId = specificationId)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
    * To obtain the request config of the operation apiCatalogPvtStockkeepingunitSkuIdSpecificationSpecificationIdDelete
    *
    * @param contentType Type of the content being sent 
    * @param accept HTTP Client Negotiation _Accept_ Header. Indicates the types of responses the client can understand  
    * @param skuId SKU’s unique numerical identifier 
    * @param specificationId Specification’s unique numerical identifier 
    * @return RequestConfig
    */
    fun apiCatalogPvtStockkeepingunitSkuIdSpecificationSpecificationIdDeleteRequestConfig(contentType: kotlin.String, accept: kotlin.String, skuId: kotlin.Int, specificationId: kotlin.Int) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        contentType.apply { localVariableHeaders["Content-Type"] = this.toString() }
        accept.apply { localVariableHeaders["Accept"] = this.toString() }
        
        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/api/catalog/pvt/stockkeepingunit/{skuId}/specification/{specificationId}".replace("{"+"skuId"+"}", "$skuId").replace("{"+"specificationId"+"}", "$specificationId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            body = localVariableBody
        )
    }

}
