/**
 * Catalog API
 *
 * Methods for collecting product/sku catalog data, categories, brands and other information. <br><br> All content that comes between {{}} keys must be replaced with the correct data before performing the request. <br><br> Common parameters that must be changed in most VTEX requests <br> {{accountName}} => Store account name <br> {{environment}} => The environment that will be called. Change for vtexcommercestable or vtexcommmercebeta <br> {{X-VTEX-API-AppKey}} => Located in the headers of the requests, user authentication key <br> {{X-VTEX-API-AppToken}} => Located in the headers of the requests, authentication password
 *
 * The version of the OpenAPI document: 1.0
 * 
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport"
)

package org.openapitools.client.apis

import java.io.IOException

import org.openapitools.client.models.RequestBody12

import com.squareup.moshi.Json

import org.openapitools.client.infrastructure.ApiClient
import org.openapitools.client.infrastructure.ApiResponse
import org.openapitools.client.infrastructure.ClientException
import org.openapitools.client.infrastructure.ClientError
import org.openapitools.client.infrastructure.ServerException
import org.openapitools.client.infrastructure.ServerError
import org.openapitools.client.infrastructure.MultiValueMap
import org.openapitools.client.infrastructure.RequestConfig
import org.openapitools.client.infrastructure.RequestMethod
import org.openapitools.client.infrastructure.ResponseType
import org.openapitools.client.infrastructure.Success
import org.openapitools.client.infrastructure.toMultiValue

class SKUSubcollectionApi(basePath: kotlin.String = defaultBasePath) : ApiClient(basePath) {
    companion object {
        @JvmStatic
        val defaultBasePath: String by lazy {
            System.getProperties().getProperty(ApiClient.baseUrlKey, "https://{accountName}.{environment}.com.br")
        }
    }

    /**
    * Get Subcollection&#39;s SKUs
    * Retrieves all SKUs from a Subcollection
    * @param contentType Type of the content being sent 
    * @param accept HTTP Client Negotiation _Accept_ Header. Indicates the types of responses the client can understand  
    * @param subCollectionId Subcollection’s unique numerical identifier 
    * @param page Page number 
    * @param size Number of items in a page 
    * @return void
    * @throws IllegalStateException If the request is not correctly configured
    * @throws IOException Rethrows the OkHttp execute method exception
    * @throws UnsupportedOperationException If the API returns an informational or redirection response
    * @throws ClientException If the API returns a client error response
    * @throws ServerException If the API returns a server error response
    */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun apiCatalogPvtSubcollectionSubCollectionIdStockkeepingunitGet(contentType: kotlin.String, accept: kotlin.String, subCollectionId: kotlin.Int, page: kotlin.Int, size: kotlin.Int) : Unit {
        val localVarResponse = apiCatalogPvtSubcollectionSubCollectionIdStockkeepingunitGetWithHttpInfo(contentType = contentType, accept = accept, subCollectionId = subCollectionId, page = page, size = size)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
    * Get Subcollection&#39;s SKUs
    * Retrieves all SKUs from a Subcollection
    * @param contentType Type of the content being sent 
    * @param accept HTTP Client Negotiation _Accept_ Header. Indicates the types of responses the client can understand  
    * @param subCollectionId Subcollection’s unique numerical identifier 
    * @param page Page number 
    * @param size Number of items in a page 
    * @return ApiResponse<Unit?>
    * @throws IllegalStateException If the request is not correctly configured
    * @throws IOException Rethrows the OkHttp execute method exception
    */
    @Throws(IllegalStateException::class, IOException::class)
    fun apiCatalogPvtSubcollectionSubCollectionIdStockkeepingunitGetWithHttpInfo(contentType: kotlin.String, accept: kotlin.String, subCollectionId: kotlin.Int, page: kotlin.Int, size: kotlin.Int) : ApiResponse<Unit?> {
        val localVariableConfig = apiCatalogPvtSubcollectionSubCollectionIdStockkeepingunitGetRequestConfig(contentType = contentType, accept = accept, subCollectionId = subCollectionId, page = page, size = size)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
    * To obtain the request config of the operation apiCatalogPvtSubcollectionSubCollectionIdStockkeepingunitGet
    *
    * @param contentType Type of the content being sent 
    * @param accept HTTP Client Negotiation _Accept_ Header. Indicates the types of responses the client can understand  
    * @param subCollectionId Subcollection’s unique numerical identifier 
    * @param page Page number 
    * @param size Number of items in a page 
    * @return RequestConfig
    */
    fun apiCatalogPvtSubcollectionSubCollectionIdStockkeepingunitGetRequestConfig(contentType: kotlin.String, accept: kotlin.String, subCollectionId: kotlin.Int, page: kotlin.Int, size: kotlin.Int) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>()
            .apply {
                put("page", listOf(page.toString()))
                put("size", listOf(size.toString()))
            }
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        contentType.apply { localVariableHeaders["Content-Type"] = this.toString() }
        accept.apply { localVariableHeaders["Accept"] = this.toString() }
        
        return RequestConfig(
            method = RequestMethod.GET,
            path = "/api/catalog/pvt/subcollection/{subCollectionId}/stockkeepingunit".replace("{"+"subCollectionId"+"}", "$subCollectionId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            body = localVariableBody
        )
    }

    /**
    * Associate SubCollection to SKU
    * Associates a SubCollection to a single SKU
    * @param contentType Type of the content being sent 
    * @param accept HTTP Client Negotiation _Accept_ Header. Indicates the types of responses the client can understand  
    * @param subCollectionId Subcollection’s unique numerical identifier 
    * @param requestBody12  (optional)
    * @return void
    * @throws IllegalStateException If the request is not correctly configured
    * @throws IOException Rethrows the OkHttp execute method exception
    * @throws UnsupportedOperationException If the API returns an informational or redirection response
    * @throws ClientException If the API returns a client error response
    * @throws ServerException If the API returns a server error response
    */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun apiCatalogPvtSubcollectionSubCollectionIdStockkeepingunitPost(contentType: kotlin.String, accept: kotlin.String, subCollectionId: kotlin.Int, requestBody12: RequestBody12?) : Unit {
        val localVarResponse = apiCatalogPvtSubcollectionSubCollectionIdStockkeepingunitPostWithHttpInfo(contentType = contentType, accept = accept, subCollectionId = subCollectionId, requestBody12 = requestBody12)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
    * Associate SubCollection to SKU
    * Associates a SubCollection to a single SKU
    * @param contentType Type of the content being sent 
    * @param accept HTTP Client Negotiation _Accept_ Header. Indicates the types of responses the client can understand  
    * @param subCollectionId Subcollection’s unique numerical identifier 
    * @param requestBody12  (optional)
    * @return ApiResponse<Unit?>
    * @throws IllegalStateException If the request is not correctly configured
    * @throws IOException Rethrows the OkHttp execute method exception
    */
    @Throws(IllegalStateException::class, IOException::class)
    fun apiCatalogPvtSubcollectionSubCollectionIdStockkeepingunitPostWithHttpInfo(contentType: kotlin.String, accept: kotlin.String, subCollectionId: kotlin.Int, requestBody12: RequestBody12?) : ApiResponse<Unit?> {
        val localVariableConfig = apiCatalogPvtSubcollectionSubCollectionIdStockkeepingunitPostRequestConfig(contentType = contentType, accept = accept, subCollectionId = subCollectionId, requestBody12 = requestBody12)

        return request<RequestBody12, Unit>(
            localVariableConfig
        )
    }

    /**
    * To obtain the request config of the operation apiCatalogPvtSubcollectionSubCollectionIdStockkeepingunitPost
    *
    * @param contentType Type of the content being sent 
    * @param accept HTTP Client Negotiation _Accept_ Header. Indicates the types of responses the client can understand  
    * @param subCollectionId Subcollection’s unique numerical identifier 
    * @param requestBody12  (optional)
    * @return RequestConfig
    */
    fun apiCatalogPvtSubcollectionSubCollectionIdStockkeepingunitPostRequestConfig(contentType: kotlin.String, accept: kotlin.String, subCollectionId: kotlin.Int, requestBody12: RequestBody12?) : RequestConfig<RequestBody12> {
        val localVariableBody = requestBody12
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        contentType.apply { localVariableHeaders["Content-Type"] = this.toString() }
        accept.apply { localVariableHeaders["Accept"] = this.toString() }
        localVariableHeaders["Content-Type"] = "application/json"
        
        return RequestConfig(
            method = RequestMethod.POST,
            path = "/api/catalog/pvt/subcollection/{subCollectionId}/stockkeepingunit".replace("{"+"subCollectionId"+"}", "$subCollectionId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            body = localVariableBody
        )
    }

    /**
    * Delete SKU SubCollection
    * Deletes an SKU from a SubCollection
    * @param contentType Type of the content being sent 
    * @param accept HTTP Client Negotiation _Accept_ Header. Indicates the types of responses the client can understand  
    * @param subCollectionId Subcollection’s unique numerical identifier 
    * @param skuId SKU’s unique numerical identifier 
    * @return void
    * @throws IllegalStateException If the request is not correctly configured
    * @throws IOException Rethrows the OkHttp execute method exception
    * @throws UnsupportedOperationException If the API returns an informational or redirection response
    * @throws ClientException If the API returns a client error response
    * @throws ServerException If the API returns a server error response
    */
    @Throws(IllegalStateException::class, IOException::class, UnsupportedOperationException::class, ClientException::class, ServerException::class)
    fun apiCatalogPvtSubcollectionSubCollectionIdStockkeepingunitSkuIdDelete(contentType: kotlin.String, accept: kotlin.String, subCollectionId: kotlin.Int, skuId: kotlin.Int) : Unit {
        val localVarResponse = apiCatalogPvtSubcollectionSubCollectionIdStockkeepingunitSkuIdDeleteWithHttpInfo(contentType = contentType, accept = accept, subCollectionId = subCollectionId, skuId = skuId)

        return when (localVarResponse.responseType) {
            ResponseType.Success -> Unit
            ResponseType.Informational -> throw UnsupportedOperationException("Client does not support Informational responses.")
            ResponseType.Redirection -> throw UnsupportedOperationException("Client does not support Redirection responses.")
            ResponseType.ClientError -> {
                val localVarError = localVarResponse as ClientError<*>
                throw ClientException("Client error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
            ResponseType.ServerError -> {
                val localVarError = localVarResponse as ServerError<*>
                throw ServerException("Server error : ${localVarError.statusCode} ${localVarError.message.orEmpty()}", localVarError.statusCode, localVarResponse)
            }
        }
    }

    /**
    * Delete SKU SubCollection
    * Deletes an SKU from a SubCollection
    * @param contentType Type of the content being sent 
    * @param accept HTTP Client Negotiation _Accept_ Header. Indicates the types of responses the client can understand  
    * @param subCollectionId Subcollection’s unique numerical identifier 
    * @param skuId SKU’s unique numerical identifier 
    * @return ApiResponse<Unit?>
    * @throws IllegalStateException If the request is not correctly configured
    * @throws IOException Rethrows the OkHttp execute method exception
    */
    @Throws(IllegalStateException::class, IOException::class)
    fun apiCatalogPvtSubcollectionSubCollectionIdStockkeepingunitSkuIdDeleteWithHttpInfo(contentType: kotlin.String, accept: kotlin.String, subCollectionId: kotlin.Int, skuId: kotlin.Int) : ApiResponse<Unit?> {
        val localVariableConfig = apiCatalogPvtSubcollectionSubCollectionIdStockkeepingunitSkuIdDeleteRequestConfig(contentType = contentType, accept = accept, subCollectionId = subCollectionId, skuId = skuId)

        return request<Unit, Unit>(
            localVariableConfig
        )
    }

    /**
    * To obtain the request config of the operation apiCatalogPvtSubcollectionSubCollectionIdStockkeepingunitSkuIdDelete
    *
    * @param contentType Type of the content being sent 
    * @param accept HTTP Client Negotiation _Accept_ Header. Indicates the types of responses the client can understand  
    * @param subCollectionId Subcollection’s unique numerical identifier 
    * @param skuId SKU’s unique numerical identifier 
    * @return RequestConfig
    */
    fun apiCatalogPvtSubcollectionSubCollectionIdStockkeepingunitSkuIdDeleteRequestConfig(contentType: kotlin.String, accept: kotlin.String, subCollectionId: kotlin.Int, skuId: kotlin.Int) : RequestConfig<Unit> {
        val localVariableBody = null
        val localVariableQuery: MultiValueMap = mutableMapOf()
        val localVariableHeaders: MutableMap<String, String> = mutableMapOf()
        contentType.apply { localVariableHeaders["Content-Type"] = this.toString() }
        accept.apply { localVariableHeaders["Accept"] = this.toString() }
        
        return RequestConfig(
            method = RequestMethod.DELETE,
            path = "/api/catalog/pvt/subcollection/{subCollectionId}/stockkeepingunit/{skuId}".replace("{"+"subCollectionId"+"}", "$subCollectionId").replace("{"+"skuId"+"}", "$skuId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            body = localVariableBody
        )
    }

}
